<h1 class="welcome">Welcome to ALIBI
<a class="btn btn-lg btn-secondary" href="/photos" role="button">PHOTOS</a>
<a class="btn btn-lg btn-secondary" href="/production" role="button">PRODUCTION</a>
</h1>
